<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
    <script>
        const SESSION_ID = '<%=sid%>';
        localStorage.setItem('token', '<%=token%>');
        let _user_id            =  '<%=user_id%>';
        let _user_name          =  '<%=user_name%>';
        let _user_nick          =  '<%=user_nick%>';
        let _user_avata         =  '<%=user_avata%>';
        let _user_level         =  '<%=user_level%>';
        let _user_CTP           =  '<%=user_CTP%>';
        let _user_CTP_address   =  '<%=user_CTP_address%>';
        var _user_POT           =  '<%=user_POT%>';
    </script>
</head>

<body>
    <div class="scaleable-wrapper" id="scaleable-wrapper">
        <div class="page-contents" id="page-contents">
            <header>
                <div id="header-root"></div>
            </header>
            <div id="straddle-abilities">
                <label class="single-straddle cbox collapse">
                    <span class="label-body">UTG Straddle</span>
                    <input type="checkbox" name="singleStraddleBox">
                </label>
                <label class="multi-straddle cbox collapse">
                    <span class="label-body">Multi-Straddle</span>
                    <input type="checkbox" name="multiStraddleBox">
                </label>
            </div>
            <main class="container">
                <div id="replay-root"></div>
                <div id="table-img-root"></div>
            </main>
            <div id="below-table-root"></div>
        </div>
    </div>
    <!-- <input type="text" id="txt_uid"             value="<%=user_id%>" style="width:80px;"/>
    <input type="text" id="txt_isWinner"        value="" style="width:80px;"/>
    <input type="text" id="txt_name"            value="<%=user_name%>" style="width:120px;"/>
    chip:<input type="text" id="txt_chips"      value="0" style="width:80px;"/>
    earn:<input type="text" id="txt_earnings"   value="0" style="width:80px;"/>
    POT:<input type="text" id="txt_POT"         value="<%=user_POT%>"  style="width:80px;"/> -->
    <script>
        // window.onload = function () 
        // {
        //     setTimeout( jsfn_bind_user(), 2000);
        // }
        // function jsfn_bind_user(){
        //     try{
        //         document.getElementById("new-playerName").value = _user_id;
        //         document.getElementById("new-stack").value = _user_POT;
        //     }catch(e){
        //         // alert(e);
        //     }
        //     // console.log('/server/views/pages/game.ejs : jsfn_bind_user()');
        // }
    </script>    
    <script src="../client/dist/game.bundle.js"></script>
</body>

</html>